---
layout: default
permalink: "snippets/index.html"
title: Snippets
pageClass: snippets
---

<h2 class="compilation-title">
  Longer Snippets
</h2>

<article>
  <ul>
    {% for thing in collections.snippets %}
      <li>
        <a href="{{ thing.url }}" title="{{ thing.data.title }}">
          {{ thing.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</article>