---
layout: default
title: Archive
changeFreq: weekly
pageClass: archive
eleventyExcludeFromCollections: true
---

<div id="archive">
  <section id="search">
    <noscript>
      Search won&#8217;t work since Javascript&#8217;s disabled 🙁
    </noscript>
    <input type="text" placeholder="search..." autofocus="autofocus"/>
    {% include "search-results.njk" %}
  </section>

  <section id="years">
    <header>
      <h2>Posts by Year</h2>
    </header>
    <ul class="list-of-things-with-count">
      <li>
        <a href="/links" title="All links">
          <strong>Links</strong>
          <span>{{ collections.links | length }}</span>
        </a>
      </li>
      <li>
        <a href="/media" title="All media">
          <strong>Media</strong>
          <span>{{ collections.media | length }}</span>
        </a>
      </li>
      <li>
        <a href="/tags/favorite things" title="Favorite Things">
          <strong>Favorite Things</strong>
          <span>
            {% set special1 = collections.tags | where("name", "favorite things") %}
            {{ special1.count }}
          </span>
        </a>
      </li>
      <li>
        <a href="/tags/the worst" title="The Worst">
          <strong>The Worst</strong>
          <span>
            {% set special2 = collections.tags | where("name", "the worst") %}
            {{ special2.count }}
          </span>
        </a>
      </li>
      <li>
        <a href="/songs" title="Songs I Like">
          <strong>Songs</strong>
          <span>
            {{ songs | length }}
          </span>
        </a>
      </li>
      <li>
        <a href="/blogroll" title="Sites I Like">
          <strong>Blogroll</strong>
          <span>
            {{ blogroll | length }}
          </span>
        </a>
      </li>
      {% for year, posts in collections.thingsByYear %}
        <li>
          <a href="/{{ year }}" title="Posts from {{ year }}">{{ year }}
            <span>{{ posts | length }}</span></a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="tags">
    <header>
      <h2>Posts by Tag</h2>
    </header>
    <ul class="list-of-things-with-count">
      {%- for tag in collections.tags | sort(false, true, "name") %}
        <li>
          <a href="/tags/{{ tag.name | lower }}" title="Posts tagged {{ tag.name | lower }}">
            {{ tag.name }}
            <span>{{ tag.count }}</span>
          </a>
        </li>
      {% endfor -%}
    </ul>
  </section>

  <section id="counts">
    <strong>{{ collections.things | length }}</strong>
    things with
    <strong>{{ collections.tags | length }}</strong>
    tags
  </section>
</div>

<script type="text/javascript" src="/assets/js/algolia.js"></script>
<script type="text/javascript" src="/assets/js/mustache.js"></script>
<script type="text/javascript" src="/assets/js/search.js"></script>