---
permalink: /search-data.json
eleventyExcludeFromCollections: true
---
{
  "data": [
  {%- for post in collections.things | exceptDrafts -%}
    {
      "objectID": "{{ post.fileSlug | uuid }}",
      {%- if post.data.rating -%}
      "rating": "{{ post.data.rating }}",
      {%- endif -%}
      "humanTimestamp": "{{ post.data.date | date("do MMMM yyyy") }}",
      "timestamp": "{{ post.date | toISODateString }}",

      {%- set content_first_pass = post.templateContent | striptags(false) | escape -%}

      {# Algolia only allows for 10KB record size. Minimize the noise. #}
      {%- set content_secondpass = content_first_pass.val | makeSearchString -%}

      {%- if post.data.title == '' -%}
      "title": "{{ content_secondpass }}",
      "content": null,
      {%- else -%}
      "title": "{{ post.data.title | escape }}",
      "content": "{{ content_secondpass }}",
      {%- endif -%}
      "tags": {{ post.data.tags | dump | safe }},
      "category": "{{ post.data.category }}",
      "url": "{{ post.url }}"
    }{%- if not loop.last -%}, {% endif -%}
  {% endfor -%}
]}
