---
layout: default
permalink: "songs/"
title: Songs I Like
pageClass: songs
---

<h2 class="compilation-title">
  A List of
  <span class="compilation-count">{{ songs | length }}
    Songs</span>
  I Like</span>
</h2>

<article>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Track</th>
        <th>Artist</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for song in songs %}
        <tr>
          <td>
            {% if song.link %}
              <a href="{{ song.link }}" title="Listen to {{ song.track | superSafeString }} by {{ song.artist | superSafeString }}">
                🎧
              </a>
            {% endif %}
          </td>
          <td>{{ song.track }}</td>
          <td>{{ song.artist }}</td>
          <td>{{ song.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</article>