---
layout: default
permalink: "songs/"
title: Songs I Like
pageClass: compilation songs
---

<h2>
  A List of
  <strong>{{ songs | length }}
    Songs</strong>
  I Like</span>
</h2>

<article id="songs-list">

<section id="search">
  <noscript>
    Search won&#8217;t work since Javascript&#8217;s disabled 🙁
  </noscript>
  <input class="search" placeholder="search..." autofocus="autofocus"/>
  <span class="sort" data-sort="track">Track</span>
  <span class="sort" data-sort="artist">Artist</span>
</section>

<section>
  <ul class="list">
    {% for song in songs %}
      <li>
        {% if song.link %}
          <a href="{{ song.link }}" title="Listen to {{ song.track | superSafeString }} by {{ song.artist | superSafeString }}">
          {% endif %}
          <strong class="track">{{ song.track }}</strong>
          by
          <span class="artist">{{ song.artist }}</span>
          {% if song.notes %}<span class="notes">({{ song.notes }})</span>{% endif %}
          {% if song.link %}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>

</article>

<script type="text/javascript" src="/assets/js/list.js"></script>
<script>
(() => {
  var songList = new List("songs-list", {
    valueNames: ["track", "artist", "notes"]
  });
})();
</script>