---
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tags
    - things
  addAllPagesToCollections: true
eleventyComputed:
  title: Posts tagged "{{ tag }}"
permalink: /tags/{{ tag }}/
changeFreq: weekly
eleventyExcludeFromCollections: true
pageClass: compilation tags
---

{% from "macros.njk" import singlePost %}

{% set things = collections[tag] | reverse | filterCollectionForProduction %}
{% set numberOfThings = things | length %}

<h2>
  <strong>{{ numberOfThings | numberToWords }}</strong>
  thing{% if numberOfThings > 1 %}s{% endif %}
  tagged
  <strong>“{{ tag }}”</strong>
</h2>

{% for post in things %}
  {{ singlePost(post) }}
{% endfor %}
