---
layout: default
pagination:
  data: collections.thingsByYear
  size: 1
  alias: year
  filter:
    - all
    - nav
    - post
    - posts
    - tags
    - things
  addAllPagesToCollections: true
eleventyComputed:
  title: Posts from {{ year }}
permalink: /{{ year }}/
changeFreq: weekly
eleventyExcludeFromCollections: true
---

{% from "macros.njk" import singlePost %}

<h2>
  <strong>{{ collections.thingsByYear[year] | length | numberToWords }}</strong> things from <strong>{{ year }}</strong>
</h2>

{% for post in collections.thingsByYear[year] | reverse %}
  {{ singlePost(post) }}
{% endfor %}