---
category: books
draft: {{ isDraft }}

title: {{ title }}
date: {{ timestamp }}
tags:
    {% for tag in tags -%}
    - {{ tag }}
    {% endfor %}

author: {{ author }}
rating: {{ rating }}
year: {{ year }}
---

