---
category: media
draft: {{ isDraft }}

title: {{ title }}
date: {{ timestamp }}
tags:
    {% for tag in tags %}
    - {{ tag }}
    {% endfor %}
imdb: {{ imdb }}
year: {{ year }}
rating: {{ rating }}
---

