---
category: music
draft: {{ isDraft }}

title: {{ title }}
date: {{ timestamp }}
tags:
    {% for tag in tags %}
    - {{ tag }}
    {% endfor %}
artist: {{ artist }}
rating: {{ year }}
year: {{ rating }}
---

