---
category: pasta
draft: {{ isDraft }}

title: {{ title }}
link: {{ link }}
source: "{{ source }}"
date: {{ timestamp }}
tags:
    - pasta
    {% for tag in tags -%}
    - {{ tag }}
    {% endfor %}
---
