{# https://www.11ty.dev/docs/collections/#collection-item-data-structure #}

{% macro postTags(tags) %}
  {% if tags.length > 0 %}
    <p>Tagged:</p>
    <ul>
      {% set sortedTags = tags | sort %}
      {% for tag in sortedTags %}
        <li>
          <a href="/tags/{{tag | urlencode}}" title="Posts tagged {{ tag }}">{{ tag }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro singlePost(post) %}

  {% set postType = post.data.category %}
  {% if "quotes" in post.data.tags %}
    {% set postType = "quotes" %}
  {% endif %}

  {% set linkArticleTo = post.url %}
  {% if postType == "links" or postType == "snippets" %}
    {% set linkArticleTo = post.data.link %}
  {% endif %}

  <article class="{{ postType }}{% if page.url == post.url %} single{% endif %}">

    <header>
      <h2>
        <a href="{{ linkArticleTo }}" title="{{ post.data.title | superSafeString }}">
          {{ post.data.title | smarty }}
        </a>

        {% if post.data.year %}
          <span class="media-year">
            ({{ post.data.year }})
          </span>
        {% endif %}
        {% if post.data.imdb %}
          <span class="media-imdb">
            &middot;
            <a class="imdb" href="https://www.imdb.com/title/{{ post.data.imdb }}">IMDb</a>
          </span>
        {% endif %}
        {% if post.data.rating %}
          &middot;
          <a href="/media">
            <span class="{% if post.data.rating === "A+" %}stars-superlative{% else %}stars{% endif %}" style="--rating: {{ post.data.rating | gradeToNumber }};" aria-label="Rated {{ post.data.rating | gradeToNumber }} out of 5">
              <span>{{ post.data.rating }}</span>
            </span>
          </a>
        {% endif %}

        {% if post.data.draft %}
          <span class="draft">Draft</span>
        {% endif %}
      </h2>
    </header>

    {% if post.templateContent %}
      {{ post.templateContent | safe }}
    {% endif %}

    <footer>
      {{ postTags(post.data.tags) }}
      {% if page.url == post.url %}
        <time datetime="{{ post.data.date | toISODateString }}">
          <span>Posted</span>
          {{ post.data.date | date("do MMMM yyyy") | safe }}
        </time>
      {% endif %}
      {% if page.url != post.url and postType == "links" %}
        <a href="{{ post.url }}" title="Permalink to {{ post.data.title }}">#</a>
      {% endif %}
    </footer>

  </article>
{% endmacro %}