<script type="text/javascript" src="/assets/js/lozad.js"></script>
<script type="text/javascript">
  (() => {
    // Pick a random element from a list
    const randomElement = (arr) => arr[Math.floor(Math.random() * arr.length)];

    // https://github.com/morhetz/gruvbox#palette
    const darkToLightHues = {
      "#cc241d": "#fb4934",
      "#98971a": "#b8bb26",
      "#d79921": "#fabd2f",
      "#458588": "#83a598",
      "#b16286": "#d3869b",
      "#689d6a": "#8ec07c",
      "#d65d0e": "#fe8019"
    };

    const randomLightHue = randomElement(Object.values(darkToLightHues));
    const randomDarkHue = randomElement(Object.keys(darkToLightHues));
    const randomDarkHueLight = darkToLightHues[randomDarkHue];

    // Lazy-load images and videos
    const observer = lozad(".lazy", {threshold: 0.1});
    observer.observe();

    // Make pictures clickable (for mobile I guess)
    document
      .querySelectorAll("picture")
      .forEach((p) => {
        p.addEventListener("click", (e) => (window.location.href = e.target.parentNode.dataset.path));
      });

    document.addEventListener("DOMContentLoaded", function () {
      // Set the title appropriately.
      if (["saifulmuhajir.web.id", "ina.netlify.app", "localhost"].includes(window.location.hostname)) {
        document
          .querySelector("h1 a")
          .innerText = window.location.hostname;
      }

      // Set DARK MODE 🧛‍♂️
      const darkModeSwitch = document.querySelector("#dark-mode");

      // If they prefer Dark mode or if the cookie is set, MAKE IT DARK!
      const prefersDark = window.matchMedia && window
        .matchMedia('(prefers-color-scheme: dark)')
        .matches;
      const explicitlyPrefersDark = localStorage.getItem("darkMode") === "true";
      const explicitlyPrefersLight = localStorage.getItem("darkMode") === "false";

      if (explicitlyPrefersDark) {
        darkModeSwitch.checked = true;
      } else if (explicitlyPrefersLight) {
        darkModeSwitch.checked = false;
      } else {
        if (prefersDark) {
          localStorage.setItem("darkMode", true);
          darkModeSwitch.checked = true;
        } else {
          localStorage.setItem("darkMode", false);
          darkModeSwitch.checked = false;
        }
      }

      darkModeSwitch.addEventListener(
        "change", () => darkModeSwitch.checked
        ? localStorage.setItem("darkMode", true)
        : localStorage.setItem("darkMode", false));

      // Randomize hues for both light and dark modes
      /*
      document
        .documentElement
        .style
        .setProperty("--color-light-highlight", randomLightHue);

      document
        .documentElement
        .style
        .setProperty("--color-dark-highlight", randomDarkHue);

      document
        .documentElement
        .style
        .setProperty("--color-dark-highlight-light", randomDarkHueLight);
      */
    });
  })();
</script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "{{ site.googleAnalyticsId }}");
</script>
