---
layout: default
pagination:
  data: collections.links
  size: 50
  alias: links
  reverse: true
permalink: "l/{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
title: Here & There
---

{% from "macros.njk" import singlePost %}

<div class="links-list">
  {% for thing in links %}
    <section>
      {{ singlePost(thing) }}
    </section>
  {% endfor %}
</div>

<script type="text/javascript" src="/assets/js/flexmasonry.js"></script>
<script type="text/javascript">
  (() => {
    FlexMasonry.init('.links-list', {
      responsive: true,
      breakpointCols: {
        'min-width: 700px': 2,
        'min-width: 500px': 1,
      },
    });
  })();
</script>
