:root {
  /* Layout */
  --root-spacing: 1rem;
  --root-width: 960px;
  --article-spacing-factor: 4; /* Times root-spacing */
  --line-height: 150%;
  --rounding-radius: 5px;
  --border-thickness: 3px;
  --transition-duration: 0.5s;

  /* Fonts */
  --font-size-base: 18px;
  --font-size-serif: 100%;
  --font-size-monospace: 100%;
  --sans-serif-family: "84204FFF-79F6-4EF4-94F5-6CD6CA6CA761", -apple-system,
    BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  --serif-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --monospace-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
  --font-weight-article-light: 400;
  --font-weight-article-dark: 300;

  --color-light-background: #fff;
  --color-light-text: #111;
  --color-light-text-secondary: #999;
  --color-light-text-tertiary: #ddd;
  --color-light-highlight: #ffbe0d;
  --color-light-highlight-light: rgba(254, 227, 91, 0.87);

  --color-dark-background: #101010;
  --color-dark-text: #fff;
  --color-dark-text-secondary: #999;
  --color-dark-text-tertiary: #666;
  --color-dark-highlight: #ff0000;
  --color-dark-highlight-light: #ff3300;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::selection {
  background: var(--color-highlight-light);
  color: var(--color-text);
}

/**
 * 1. Allow children to grow to 100% of viewport height
 */
html,
body {
  font-family: var(--sans-serif-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  height: 100%; /* 1. */

  /**
 *  Doesn't work everywhere
 *  https://caniuse.com/#search=scroll-behavior
 */
  scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex; /* 1. */
  flex-direction: column; /* 1. */
}

.container {
  color: var(--color-text);
  background: var(--color-background);
  padding: calc(var(--root-spacing) * 2);
  transition: background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
  flex-grow: 1; /* 1. */

  --color-background: var(--color-light-background);
  --color-text: var(--color-light-text);
  --color-text-secondary: var(--color-light-text-secondary);
  --color-text-tertiary: var(--color-light-text-tertiary);
  --color-highlight: var(--color-light-highlight);
  --color-highlight-light: var(--color-light-highlight-light);

  --font-weight-article: var(--font-weight-article-light);
}

.container > * {
  max-width: var(--root-width);
  margin: 0 auto;
}

main {
  animation: fadeIn var(--transition-duration) ease-in-out;
  margin-top: calc(var(--root-spacing) * 1);
}

a {
  text-decoration: none;
  transition: background var(--transition-duration);
}
a:hover {
  background: var(--color-highlight-light);
  color: var(--color-text);
}

body > * > header > nav {
  display: grid;
  grid-template-columns: 25% auto;
  margin-bottom: calc(var(--root-spacing) * var(--article-spacing-factor));
}
body > * > header > nav h1 a {
  color: var(--color-text);
  background: var(--color-highlight-light);
  font-weight: 800;
}
body > * > header > nav h1 a:hover {
  background: var(--color-highlight);
}
body > * > header > nav ul {
  text-align: right;
  text-transform: lowercase;
  font-weight: 400;
}
body > * > header > nav ul li {
  display: inline-block;
  margin-left: var(--root-spacing);
}
body > * > header > nav ul li a {
  color: var(--color-text-tertiary);
}
body > * > header > nav ul li a:hover {
  color: var(--color-text);
}
body > * > header > nav ul li a.active {
  color: var(--color-highlight);
}
body > * > header > nav ul li:nth-of-type(3) a span {
  /* Feed icon */
  display: none;
}
body > * > header > nav ul li:nth-of-type(3) a {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-bottom: -0.125em;

  background-color: var(--color-text-tertiary);
  -webkit-mask: url(/assets/img/feed.svg) no-repeat;
  mask: url(/assets/img/feed.svg) no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
body > * > header > nav ul li:nth-of-type(3) a:hover {
  background-color: var(--color-highlight);
}

body > * > footer {
  margin-bottom: var(--root-spacing);
  color: var(--color-text-tertiary);
}
body > * > footer ul li {
  display: inline-block;
  margin-right: var(--root-spacing);
}
body > * > footer em {
  font-family: var(--serif-family);
}
body > * > footer a {
  color: var(--color-text-secondary);
}
body > * > footer li:first-child::before {
  content: "\21E0";
  display: inline-block;
  margin-left: calc(var(--root-spacing) * -1.25);
  width: var(--root-spacing);
}
body > * > footer li:first-child::before {
  content: "\21E0";
}
body > * > footer li:nth-child(2):after {
  content: "\290F";
  color: var(--color-text-tertiary);
}
body > * > footer ul li:last-child {
  color: var(--color-text-tertiary);
  float: right;
}

article {
  color: var(--color-text);
  font-weight: var(--font-weight-article);
  margin-bottom: calc(var(--root-spacing) * var(--article-spacing-factor));
}
article header a {
  border-bottom: none;
  color: var(--color-text);
}
article header .draft {
  background-color: var(--color-highlight);
  border-radius: var(--rounding-radius);
  color: white;
  padding: calc(var(--root-spacing) / 8) calc(var(--root-spacing) / 4);
  margin-left: calc(var(--root-spacing) / 4);
}
article h1, /* h1 is reserved for blog title... penalize visually */
article h2,
article h3,
article h4,
article h5 {
  font-weight: 800;
}
article h3 {
  color: var(--color-text-secondary);
}
article h4,
article h5 {
  color: var(--color-text-tertiary);
}
article h5 {
  font-size: small;
}
article a {
  color: var(--color-text);
  border-bottom: var(--border-thickness) solid var(--color-highlight);
}
article em {
  font-family: var(--serif-family);
  font-size: var(--font-size-serif);
}
article strong {
  font-weight: 600;
}
article p {
  margin: var(--root-spacing) 0;
}
article kbd {
  background-color: #f0f0f0;

  border-radius: var(--rounding-radius);
  -moz-border-radius: var(--rounding-radius);
  -webkit-border-radius: var(--rounding-radius);

  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;

  padding: 0 calc(var(--root-spacing) / 4);
}
article blockquote {
  position: relative;
  margin-left: 1.5em;
}
article blockquote::before {
  content: "“";
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  left: -0.6em;
  top: 10px;
  font-size: calc(var(--font-size-base) * 2.5);
  color: var(--color-highlight);
}
article figure > figcaption {
  color: var(--color-text-secondary);
  margin: var(--root-spacing);
  margin-left: 0.6em;
}
article figure > figcaption a {
  border-bottom-color: var(--color-text-tertiary);
  color: var(--color-text-secondary);
  font-weight: 600;
}
article figure > figcaption a:hover {
  border-bottom-color: var(--color-highlight);
}
article code {
  border: 1px dotted var(--color-text-tertiary);
  border-radius: var(--rounding-radius);
  padding: 0 calc(var(--root-spacing) / 6);
}
article ul {
  list-style-type: disc;
  margin-left: var(--root-spacing);
}
article ul li {
  margin-bottom: calc(var(--root-spacing) / 2);
}
article ol {
  margin-left: var(--root-spacing);
}
article ol li {
  margin-bottom: calc(var(--root-spacing) / 2);
}
article table {
  margin: var(--root-spacing) 0;
  width: 100%;
}
article table thead tr th {
  border-bottom: var(--border-thickness) solid var(--color-highlight);
  padding: calc(var(--root-spacing) / 4) calc(var(--root-spacing) / 2);
  vertical-align: top;
}
article table thead tr th:first-child {
  padding-left: 0;
}
article table tbody tr td {
  border-bottom: 1px dotted var(--color-text-tertiary);
  padding: calc(var(--root-spacing) / 4) calc(var(--root-spacing) / 2);
  vertical-align: top;
}
article table tbody tr td:first-child {
  padding-left: 0;
}
article table tbody tr:last-child td {
  border-bottom: none;
}
article sup,
article sub {
  vertical-align: baseline;
  position: relative;
  font-size: calc(var(--font-size-base) * 0.75);
  top: calc(var(--font-size-base) * -1 * 0.5);
}
article sub {
  top: 0.4em;
}
article img {
  border-radius: var(--rounding-radius);
}
article picture.lazy {
  cursor: pointer;
}
article .video-container {
  margin: var(--root-spacing) 0;
}
article .video-container video {
  border-radius: var(--rounding-radius);
  width: 100%;
}
article footer,
article footer a {
  color: var(--color-text-tertiary);
  border-bottom: none;
  font-weight: 400;
  line-height: calc(var(--line-height) / 1.5);
}
article footer > p {
  display: none;
}
article footer ul,
article footer time {
  display: inline;
}
article footer ul {
  margin-left: 0;
}
article footer ul li {
  display: inline-block;
}
article footer ul li:not(:last-child):after {
  content: "·";
}
article footer time > span {
  display: none;
}
article footer time {
  color: var(--color-text-tertiary);
}
article footer time::before {
  content: "··· ";
}
article hr {
  border: 0;
  height: 0;
  border-top: 1px dotted var(--color-text-tertiary);
}

article .update {
  color: var(--color-highlight);
  font-size: smaller;
}
article .update strong {
  font-weight: 600;
  text-transform: uppercase;
}
article .update strong::after {
  content: " ·";
}

article .footnotes {
  border-top: 1px dotted var(--color-text-tertiary);
  color: var(--color-text-secondary);
  margin: var(--root-spacing) 0;
  padding-top: var(--root-spacing);
}
article .footnotes ol {
  margin-left: calc(var(--root-spacing) * 2);
}
article .footnotes ol li {
  margin: calc(var(--root-spacing) / 2) 0;
}
article .footnotes ol li:first-child {
  margin-top: 0;
}
article .footnotes ol li:last-child {
  margin-bottom: 0;
}
article .footnotes ol li p {
  margin: 0;
  padding: 0;
}
article .footnotes a {
  border-bottom-color: var(--color-text-tertiary);
  color: var(--color-text-secondary);
}
article .footnotes a:hover {
  border-bottom-color: var(--color-highlight);
  color: var(--color-text);
}
article .footnote-ref {
  border-radius: calc(var(--rounding-radius) * 10);
  background: var(--color-highlight);
  font-family: var(--sans-serif-family);
  margin: 0 0.125em;
  padding: 0.125em;
  text-align: center;
}
article .footnote-ref:hover {
  background: var(--color-highlight-light);
}
article .footnote-ref a {
  border-bottom: none;
  padding: 0 0.25rem;
}
article .footnote-ref a:hover {
  background-color: transparent !important;
}
article .footnote-backref {
  border: 1px solid var(--color-text-tertiary);
  border-radius: var(--rounding-radius);
  color: var(--color-text-secondary);
  font-size: calc(var(--font-size-base) * 0.95);
  margin-left: calc(var(--root-spacing) / 4);
  padding: calc(var(--root-spacing) / 8) calc(var(--root-spacing) / 4);
}
article .footnote-backref:hover {
  color: var(--color-text);
  border: 1px dotted var(--color-highlight);
}

/* LINK TYPE */
article.links {
  line-height: calc(var(--line-height) + 20%);
  display: grid;
  grid-template-columns: calc(var(--root-spacing) * 1.5) auto;
  margin-left: calc(var(--root-spacing) * -1.5);
}
article.links header {
  display: grid;
  grid-template-columns: 3rem auto;
}
article.links header {
  display: inline-block;
}
article.links header a {
  border-bottom: var(--border-thickness) solid var(--color-highlight);
  font-weight: 600;
}
article.links .links-permalink {
  color: var(--color-text-tertiary);
  text-align: left;
}
article.links .links-permalink a {
  text-decoration: none;
  color: var(--color-text-tertiary);
  font-weight: 600;
  border-bottom: none;
}
article.links .links-permalink a:hover {
  color: var(--color-text);
}
/* Inline a few things */
article.links header,
article.links header h2,
article.links .content,
article.links .content > p:only-child,
article.links .content p:not(:only-child):first-child,
article.links .content p:not(:only-child):last-child,
article.links footer {
  display: inline;
}
article.links footer::before {
  content: "··· ";
}
article.links footer ul li {
  margin: 0;
}
article.links .content p + p::before {
  content: "";
  display: block;
  margin-top: var(--root-spacing);
}
article.links.single {
  font-size: x-large;
}
/* Make a 'cluster' of links */
/* .index article.links + article.links {
  margin-top: calc(var(--root-spacing) * -0.5 * var(--article-spacing-factor));
} */

/* MEDIA TYPE */
.media-year {
  font-weight: 400;
}
.media-imdb a {
  border-bottom: var(--border-thickness) solid var(--color-highlight);
  font-weight: 600;
}
.media-list {
  width: 100%;
  margin-bottom: var(--root-spacing);
}
.media-list a {
  color: var(--color-text);
  border-bottom: var(--border-thickness) solid var(--color-highlight);
}
.media-list tbody td {
  padding: 0.25em 0;
  border-bottom: 1px dotted #ddd;
}
.media-list tbody td:nth-child(1) a {
  border-bottom: 0;
}
.media-list tbody td:nth-child(3) {
  text-align: center;
}
.media-list tbody td:nth-child(4) {
  text-align: right;
  vertical-align: top;
}
.media-list tbody tr:last-child td {
  border-bottom: none;
}

/* ARCHIVE */
#archive section {
  padding-bottom: var(--root-spacing);
  margin-bottom: var(--root-spacing);
  border-bottom: 1px dotted var(--color-text-tertiary);
}
#archive section > header {
  display: none;
}
#archive section:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
#archive #years {
  padding-bottom: calc(var(--root-spacing) / 2);
}
#archive #years ul li {
  margin-bottom: calc(var(--root-spacing) / 2);
}
#archive #tags {
  font-size: smaller;
}
#archive #counts {
  color: var(--color-text-tertiary);
}
#archive noscript {
  display: block;
  margin-bottom: var(--root-spacing);
}

/* ABOUT */
.about .container {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  background: var(--color-background) url(/assets/img/nikhil.png) top right
    no-repeat;
  background-size: 60%;
}
.about article {
  width: 35%;
  font-size: larger;
  line-height: calc(var(--line-height) + 10%);
}
.about header nav ul {
  display: none;
}

/* MISCELLANEOUS */
.compilation-title {
  color: var(--color-highlight);
  margin-bottom: calc(var(--root-spacing) * var(--article-spacing-factor));
}
.compilation-title a {
  border-bottom: 1px dotted var(--color-highlight);
  color: var(--color-highlight);
  font-weight: 600;
}
.compilation-title a:hover {
  color: var(--color-text);
}
.compilation-count {
  border-radius: var(--rounding-radius);
  background: var(--color-highlight);
  color: white;
  padding: calc(var(--root-spacing) / 4);
}
.stars,
.stars-superlative {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
}
.stars span,
.stars-superlative span {
  display: none;
}
.stars::before {
  --percent: calc(var(--rating) / 5 * 100%);
  content: "★★★★★";
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    var(--color-text) var(--percent),
    var(--color-text-tertiary) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stars-superlative::before {
  --percent: calc(var(--rating) / 5 * 100%);
  content: "★★★★★";
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    var(--color-highlight) var(--percent),
    var(--color-text-tertiary) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SEARCH AND RESULTS */
#search input {
  background-color: var(--color-background);
  border-radius: var(--rounding-radius);
  border: 1px solid var(--color-text-tertiary);
  color: var(--color-text);
  font-size: large;
  padding: calc(var(--root-spacing) / 2) var(--root-spacing);
  width: 100%;
}

#search-no-results {
  font-size: large;
  color: var(--color-highlight);
  margin-top: var(--root-spacing);
}

#search-results article {
  margin: var(--root-spacing) 0;
}
#search-results article:first-child {
  margin-top: calc(var(--root-spacing) * 1.5);
}
#search-results article:last-child {
  margin-bottom: calc(var(--root-spacing) * -0.5);
}
#search-results article > * {
  margin: calc(var(--root-spacing) / 2) 0;
}
#search-results article em {
  font-family: var(--sans-serif-family);
  font-style: normal;
  background: var(--color-highlight-light);
  color: var(--color-text);
}
.searching {
  background: var(--color-text);
  color: white;
}

/* 404 */
.four-oh-four h2 {
  font-size: 15vw;
  font-weight: 800;
  line-height: initial;
  text-align: center;
}
.four-oh-four p {
  color: var(--color-highlight);
  font-size: calc(var(--font-size-base) * 2);
  font-weight: 600;
  line-height: initial;
  text-align: center;
}

/**
 * DARK MODE 🧛‍♂️
 *
 * These are dope:
 *
 * https://academind.com/learn/css/adding-dark-mode/
 * https://kleinfreund.de/css-only-dark-mode
 */

/*
Source: https://github.com/h5bp/html5-boilerplate

Hide only visually, but have it available for screen readers:
https://snook.ca/archives/html_and_css/hiding-content-for-accessibility

2. For long content, line feeds are not interpreted as spaces
   and small width causes content to wrap 1 word per line:
   https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
#dark-mode,
.dark-mode-switch > span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; /* 2. */
}

#dark-mode:checked ~ .container {
  --color-background: var(--color-dark-background);
  --color-text: var(--color-dark-text);
  --color-text-secondary: var(--color-dark-text-secondary);
  --color-text-tertiary: var(--color-dark-text-tertiary);
  --color-highlight: var(--color-dark-highlight);
  --color-highlight-light: var(--color-dark-highlight-light);

  --font-weight-article: var(--font-weight-article-dark);
}

label[for="dark-mode"] {
  background-color: var(--color-text-tertiary);
  border-radius: calc(var(--rounding-radius) * 3);
  cursor: pointer;
  display: inline-block;
  height: 17px;
  position: relative;
  top: 2px;
  width: 35px;
}

label[for="dark-mode"]:hover {
  background-color: var(--color-highlight-light);
}

label[for="dark-mode"] span:nth-of-type(1) {
  box-sizing: border-box;
  display: inline-block;
  height: 14px;
  left: 0;
  position: absolute;
  width: 10px;
}

label[for="dark-mode"] span:nth-of-type(1)::before {
  content: "🌞";
  position: absolute;
  font-size: 125%;
  top: -4px;
  left: -6px;
}

label[for="dark-mode"] span:nth-of-type(2) {
  display: none;
}

#dark-mode:checked ~ .container label[for="dark-mode"] span:nth-of-type(1) {
  transform: translateX(22px);
}

#dark-mode:checked
  ~ .container
  label[for="dark-mode"]
  span:nth-of-type(1)::before {
  content: "🌛";
}

/**
 * LISTS AND LISTS AND LISTS!
 */
.list-of-things-with-count li strong {
  font-weight: 600;
}
.list-of-things-with-count li {
  display: inline-block;
}
.list-of-things-with-count li a {
  border: 1px solid var(--color-text-tertiary);
  border-radius: var(--rounding-radius);
  color: var(--color-text);
  padding: 0 0 0 calc(var(--root-spacing) / 4);
}
.list-of-things-with-count li span {
  border-left: 1px dotted var(--color-text-tertiary);
  text-align: center;
  padding: 0 calc(var(--root-spacing) / 4);
  color: var(--color-text-tertiary);
}
.list-of-things-with-count li a:hover {
  background: var(--color-highlight-light);
  border-radius: var(--rounding-radius);
}
.list-of-things-with-count li:hover span {
  border-left: 1px dotted var(--color-text);
  color: var(--color-text);
}

/* SONGS */
.songs section:first-child {
  margin-bottom: var(--root-spacing);
}
.songs article ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.songs article ul li {
  margin-bottom: 0;
}
.songs article ul li br,
.songs article ul li > * > span > span,
.songs article ul li > * > small > span {
  display: none;
}
.songs article ul li:last-child {
  border-bottom: 0;
}
.songs article ul li a {
  border-bottom-width: 2px;
}
.songs article ul li:last-child a {
  border-bottom: 0;
}
.songs article ul li > * {
  display: grid;
  grid-template-columns: 50% 25% auto;
  width: 100%;
}
.songs article ul li > * > small {
  color: var(--color-text-secondary);
  font-size: large;
}
.songs article ul li div {
  border-bottom: 1px dotted var(--color-text-tertiary);
}
.songs #search {
  display: grid;
  grid-template-columns: auto 5em 5em;
  grid-gap: calc(var(--root-spacing) / 2);
}
.songs #search span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BLOGROLL */
.blogroll article ul li {
  font-size: x-large;
  line-height: var(--line-height);
}
.blogroll article ul li span {
  color: var(--color-text-secondary);
}

/* LIST.JS */
.sort {
  cursor: pointer;
  padding: 0 calc(var(--root-spacing) / 4);
}
.sort.asc,
.sort.desc {
  background-color: var(--color-highlight-light);
  border-radius: var(--rounding-radius);
}
.sort.asc::after {
  content: "⤴";
  padding-left: 3px;
}
.sort.desc::after {
  content: "⤵";
  padding-left: 3px;
}

/* RESPONSIVE SHIT */
@media all and (max-width: 700px) {
  .container {
    padding: calc(var(--root-spacing) / 2);
  }
  article .footnotes {
    width: 100%;
  }
  article.links.single {
    font-size: large;
  }
  .songs article ul li a {
    border-bottom-width: 1px;
  }
  .songs article ul li > * {
    grid-template-columns: 60% auto;
  }
  .songs article ul li > * > small {
    font-size: smaller;
  }
}

@media all and (max-width: 500px) {
  :root {
    --article-spacing-factor: 2.5;
    --border-thickness: 2px;
    --font-size-base: 16px;
  }
  body > * > header > nav ul li:nth-of-type(3) {
    display: none;
  }
  body > * > header > nav ul li:nth-of-type(4) {
    margin-right: calc(var(--root-spacing) / 2);
  }
  .media-list tbody td:nth-child(2),
  .media-list tbody td:nth-child(3) {
    display: none;
  }
  .about .container {
    width: 100%;
    background-size: 90%;
  }
  .about article {
    width: 100%;
    margin-top: 95%;
  }
}
