/**
  Customized version of:
  https://cdn.jsdelivr.net/gh/paulirish/lite-youtube-embed@master/src/
*/

lite-youtube {
  background-color: var(--color-black);
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  border: var(--border-thickness) solid var(--color-highlight);
  border-radius: var(--rounding-radius);
}

/* gradient */
lite-youtube::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
  width: 96px;
  height: 96px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 58'%3E%3Ccircle r='29' cy='29' cx='29' fill='%23ffbe0d'/%3E%3Cg fill='%23fff'%3E%3Cpath d='M44 29L22 44V14z'/%3E%3Cpath d='M22 45c-.16 0-.321-.038-.467-.116-.328-.173-.533-.513-.533-.884V14c0-.371.205-.711.533-.884.328-.174.724-.15 1.031.058l22 15c.272.186.436.495.436.826s-.164.64-.437.826l-22 15c-.169.115-.366.174-.563.174zm1-29.107v26.215L42.225 29 23 15.893z'/%3E%3C/g%3E%3C/svg%3E%0A")
    center no-repeat;
  filter: opacity(45%);
  transition: filter 0.75s cubic-bezier(0, 0, 0.2, 1);
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
  filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
