---
title: Lists of Things I Like
pageClass: lists
---

<h2 class="compilation-title">
  <strong>Lists of Things</strong>
</h2>

<ul class="list-of-things-with-count">
  <li>
    <a href="/lists/songs" title="List of Songs I Like">Songs I Like</a>
    <span>{{ songs | length }}</span>
  </li>
  <li>
    <a href="/lists/wishlist" title="A Wishlist">Wishlist</a>
    <span>{{ wishlist | length }}</span>
  </li>
</ul>