---
layout: default
permalink: "lists/wishlist/index.html"
title: Songs I Like
---

<h2 class="compilation-title">
  My Wish<a href="/lists" title="List of Lists">list</a>
  of
  <span class="compilation-count">{{ wishlist | length }}
    things</span>
</h2>

<article>
  <table class="list-wishlist">
    <thead>
      <tr>
        <th></th>
        <th>Thing</th>
        <th>Notes</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for thing in wishlist %}
        <tr>
          <td>
            {% if thing.link %}
              <a href="{{ thing.link }}" title="Link to {{ thing.name | superSafeString }}">
                🔗
              </a>
            {% endif %}
          </td>
          <td>
            {{ thing.name }}
          </td>
          <td>{{ thing.notes }}</td>
          <td>{{ thing.price }}</td>
        {% endfor %}
      </tbody>
    </table>
  </article>