---
layout: default
pagination:
  data: collections.posts
  size: 50
  alias: posts
  reverse: true
permalink: "posts/{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
title: Jabberwocky
---

{% from "macros.njk" import singlePost %}

<div class="posts-list">
  {% for thing in posts %}
    {{ singlePost(thing) }}
  {% endfor %}
</div>