---
layout: default
---

{% from "macros.njk" import singlePost %}

{% set post = {
  url: url,
  data: {
    title: title,
    templateContent: content,
    tags: tags,
    date: page.date,
    category: category,

    link: link,

    year: year,
    rating: rating,
    imdb: imdb,

    source: source
  },
  templateContent: content
} %}

{{ singlePost(post) }}
